sh pull.sh data.zip
mkdir -p html
python oncore2json.py oncore data.zip -s 0 --output html/index.html --cohort cohort.json --directory html
cat  html/DTB*[0-9].json > clinical_oncore.json
mongoimport -d MedBook -c clinical_oncore < clinical_oncore.json
